#navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
ul li {
    align-self: center;
    justify-self: center;
}
ul li a {
    /* color: #fff; */
    font-size: 14px;
    text-decoration: none;
}
.top-bg {
    position: relative;
    z-index: 1;
    box-shadow: -1px 7px 19px -5px rgba(0,0,0,0.83);
    background-color: #f8880f;
}
/* header div:first-child > div:first-child {
    background-color: #f8880f;
} */
body {
    font-weight: 400;
    font-style: normal;
}
.header-info-left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10px;
}
.header-info-left > form > select {
    background-color: transparent;
    font-size: 14px;
    outline: none;
}
.header-info-left > form > select > option {
    background-color: cornflowerblue;
}
.header-info-left > * {
    padding: 0px 10px;
}
.header-info-left > ul > li > a {
    color: white;
}
#top-header-left-phone-li {
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen-span {
    min-width: screen;
}
.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.header-info-right {
    margin-right: 80px;
}
.header-info-right > ul > li > a {
    color: white;
}
.header-bottom-ul > li > button {
    padding: 23px 20px;
    border-radius: 35px;
    border: none;
    color: black;
    font-size: 14px;
    background-color: #f8880f;
    outline: none;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.355);
    font-family: "Kanit", sans-serif;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}
.header-bottom-ul > li > i {
    padding: 15px;
    border-radius: 100%;
    border: 1px solid rgb(205, 196, 196);
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.355);
    cursor: pointer;
    transition: all 100ms ease-in-out;
}
.header-bottom-ul > li > i:hover{
    background-color: #f8880f;
    color: white;
    border: 1px solid transparent;
}
.header-ul > li {
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}
.header-ul > li > a{
    padding: 5px;
    font-weight: 400;
    transition: all 150ms ease-in-out;
}
.header-bottom-container {
    background-color: white;
    position: inherit;
    z-index: 9;
    box-shadow: -1px 0px 18px 2px rgba(71, 69, 69, 0.289);
}
.header-ul > li > a:hover {
    border-bottom: 4px solid white;  
}
.f-right {
    float: right;
}
.sub-menu {
    display: none;
}
.header-bottom-ul > li {
    font-size: 16px;
    color: black;
    padding: 39px 18px;
}
.header-bottom-ul > li > a {
    color: black;
}
.header-bottom-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-height: 75px;
    overflow: hidden;
}
header-bottom-container > img {
    position: absolute;
    z-index: -1;
    margin: 0px 0px 5px 15px;
}
#bottom-header-btn:hover {
    background-color: #f8700f;
}
.main-menu > nav > ul > li > a:hover {
    color: #f8880f;
    border-bottom: 4px solid black;
}
.main-menu > nav > ul > li > a {
    padding: 8px;
    transition: all 100ms ease-in-out;
    font-weight: 400;

}
@media only screen and (min-width:992px) and (max-width:1199px) {
    .header-bottom .main-menu ul li a {
        padding: 39px 15px
    }
}

@media (min-width:1200px) and (max-width:1400px) {
    .header-bottom .main-menu ul li a {
        padding: 39px 13px
    }
}