.jumbotron-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0px;
    min-height: 513px;
}
.jumbotron-left > img { 
    object-fit: cover;
    box-shadow: 5px 6px 15px 1px rgba(0,0,0,0.75);
}
.jumbotron-left > img:first-child{
    position: absolute;
    z-index: 5;
    left: -10rem;
    margin: 15px;
    height: 450px;
}
.jumbotron-left> img:nth-child(2) {
    position: absolute;
    z-index: -1;
    left: 330px;
    height: 300px;
}
.jumbotron-left > img:nth-child(3) {
    position: absolute;
    left: 26rem;
    top: 20rem;
    z-index: 2;
    height: 285px;
}
.jumbotron-left {
    display: flex;
    align-self: start;
    position: relative;
}
.jumbotron-right {
    position: relative;
    z-index: 6;
    right: -18rem;
}
.jumbotron-right > span {
    font-size: 14px;
}
.jumbotron-right > h1 { 
    font-size: 60px;
    letter-spacing: 3px;
}