.btn {
    background: #f8880f;
    /* -moz-user-select: none; */
    text-transform: capitalize;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 0;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    transition: color .4s linear;
    position: relative;
    z-index: 1;
    border: 0;
    overflow: hidden;
}
.btn:hover::before {
    transform: scaleX(1);
    z-index: -1
}
.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ffce25;
    z-index: 1;
    border-radius: 5px;
    transition: transform .5s;
    transition-timing-function: ease;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(.5, 1.6, .4, .7);
    transform: scaleX(0)
}